/*Layout*/

.layout {
  max-width: 1200px;
  margin: 32px auto;
}

.layout-left {
  float: left;
  width: 75%;
}

.layout-right {
  float: right;
  width: 25%;
}

/*Employees*/
.employees {
  display: flex;
  flex-wrap: wrap;
}

.employees-letter-block {
  width: 300px;
}
